body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container {
    max-width: 390px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.img {
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
}

.item {
    text-align: center;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.2s linear, transform 0.1s;
}

.btn:hover {
    background: lightgreen;
    transform: scale(1.05);
}

.controls {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#btnRandom {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    background: linear-gradient(90deg, rgb(248, 168, 24), rgb(255, 105, 30));
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#btnRandom:hover {
    background: linear-gradient(90deg, rgb(255, 105, 30), lightgreen);
    transform: scale(1.1);
}

#total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

button.selected {
    background: lightgreen;
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 600px; 
    }

    .inner {
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 30px; 
    }

    .btn, #btnRandom {
        padding: 8px 16px; 
        font-size: 14px; 
        border-radius: 5px; 
        background: rgb(248, 168, 24); 
    }

    .btn:hover, #btnRandom:hover {
        background: lightgreen; 
        transform: none; 
    }

    .item {
        padding: 15px;
        box-shadow: none; 
        background: none; 
    }
}
